/* font @import */

:root {
  /* css variables with theme colors,
    names have to start with "--" */
  --color-1: #b9af9e;
}

body {
    
}

#container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 30px;
  justify-items: center;
}

#chedder {
  max-height: 340px;
}

#name-header {
  text-align: center;
}

#inputs {
  width: 100%;
  max-width: 400px;
  display: block;
  border-radius: 5px;
  background-color: blueviolet;
  padding-top: 20px 10px;

}

